*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --ligh-bg: #D8DBD6;
    --success-bg:#009688;
    --lighter: #F3EEEA;
    --bg-yourmsg:#D5F9BA;
    --icons:#B1B1B1;
    --light:#EAEAEA;
    --bg-notifiche:#8EDAFC;
}

main{
    width: 100vw;
    height: 100vh;
    background-color: var(--ligh-bg);
    position: relative;

}

.top_green{
    height: 10vh;
    background-color: var(--success-bg);
}


.main_container{
    width: 80vw;
    height: 96vh;
    background-color: white;
    margin: 0 auto;
    position: relative;
    bottom: 8vh;
}




/* contacts zone */
.left-menu{
    width: 35%;
    height: 96vh;
}

.header-profilo{
    height: 66px;
}

.notifiche{
    height: 80px;
}

.immagine-profilo{
    width: 50px;
}

.menu{
    color: var(--icons);
}

.bg-user{
    background-color: var(--light);

}

.bg-notifiche{
    background-color: var(--bg-notifiche);
}

.bell{
    background-color: white;
    color: var(--bg-notifiche);
    height: 50px;
    width: 50px;
}

.search-btn{
    border: solid 1px #ccc;
    padding: 0.1rem;
    color: #ccc;
}

.form-search{
    border: #ccc solid 1px;
    width: calc(100% - 66px)
}



.contact-list{
    overflow: auto;
    overflow-y: scroll;
    height: calc(96vh - 193.19px)
}

.contact{
    height: 80px;
}

/* chat zone */

.chat{
    width: 65%;
    height: 96vh;
}

.contact-header{
    height: 66px;
}