*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --ligh-bg: #D8DBD6;
    --success-bg:#009688;
    --lighter: #F3EEEA;
    --bg-yourmsg:#D5F9BA;
    --icons:#B1B1B1;
    --light:#EAEAEA;
    --bg-notifiche:#8EDAFC;
}

main{
    width: 100vw;
    height: 100vh;
    background-color: var(--ligh-bg);
    position: relative;
}

.top_green{
    height: 10vh;
    background-color: var(--success-bg);
}

.main_container{
    width: 80vw;
    height: 96vh;
    background-color: white;
    margin: 0 auto;
    position: relative;
    bottom: 8vh;
}


/* contacts zone */
.left-menu{
    width: 35%;
    height: 96vh;
}

.header-profilo{
    height: 66px;
}

.notifiche{
    height: 80px;
}

.immagine-profilo{
    width: 50px;
}

.menu{
    color: var(--icons);
}

.bg-user{
    background-color: var(--light);

}

.bg-notifiche{
    background-color: var(--bg-notifiche);
}

.bell{
    background-color: white;
    color: var(--bg-notifiche);
    height: 50px;
    width: 50px;
}

.search-btn{
    border: solid 1px #ccc;
    padding: 0.1rem;
    color: #ccc;
}

.form-search{
    border: #ccc solid 1px !important;
    width: calc(100% - 66px);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.form-search:focus-visible{
    box-shadow: none;
}




.contact-list{
    overflow: auto;
    overflow-y: scroll;
    height: calc(96vh - 200px);
}

.contact{
    height: 80px;
    cursor: pointer;
}

.contact:hover{
    background-color: #E9EBEB;
}

.active{
    background-color: #E9EBEB;
}

/* chat zone */

.chat{
    width: 66%;
    height: 96vh;
}

.contact-header{
    height: 66px;
}

.chat-container{
    background-image: url(../img/mine.jpg);
    height: calc(100% - 66px);
    width: 100%;
    position:relative ;
    
}

.chat-zone{
    overflow: auto;
    overflow-y: scroll;
    height: calc(100% - 46px);
    padding: 0;
}

.write-msg{
    position: absolute;
    background-color: var(--lighter);
    height: 50px;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--icons);
}

.write{
    border: none;
    height: 30px;
    width: 100%;
}

.write:focus-visible{
    box-shadow: none;
}

.user-text .text{
   background-color: var(--bg-yourmsg); 
    max-width: 100%;
}

.user-text{
    justify-content: flex-end ;
  
}

.your-text .text{
    background-color: white;
}

.ora-messaggio{
    right: 1px;
    bottom: 0;
    font-size: 0.8rem;
    color: var(--icons);
}

.message-arrow{
    color: #94A785;
}

.dropdown-content{
    display: none;
    position: absolute;
    top: 30px;
    background-color: white;
    width: 200px!important;
    z-index: 3;
    border: 0!important;
    padding: 2rem;
}

.position-left{
    left: 5px!important;
}

.position-right{
    right: 5px!important;
}

a{
    cursor: pointer;
}

.dropdown-toggle::after {
    display: none;
}


